.custom-create-btn {
    color: white;
    background-color: rgba(14, 68, 138, 0.74);   
}

.custom-create {
    color: white;
    background-color: rgba(165, 8, 8, 0.74);   
}

.btn-update{
    color: white;
    background-color: rgb(7, 80, 7);
}